name: 'Validate Gradle Wrapper'
on:
  push:
    branches-ignore:
      - master
      - pr/*

jobs:
  validation:
    name: 'Validation'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gradle/wrapper-validation-action@v3
