name: Build and Test JTReg

on:
  push:
    branches-ignore:
      - master
      - pr/*

jobs:

  linux-x64:
    runs-on: ubuntu-latest

    steps:
    - name: 'Check out repository'
      uses: actions/checkout@v6
      with:
        fetch-depth: 1

    - name: 'Set up Java Development Kits'
      uses: actions/setup-java@v5
      with:
        distribution: 'oracle'
        java-version: |
          25
          21

    - name: 'Build JTReg'
      shell: bash
      run: |
        java --version
        bash make/build.sh

    - name: 'Run initial tests (goal: quick-test)'
      shell: bash
      env:
        MAKE_ARGS: quick-test
        HEADLESS: 1
      run: |
        bash make/build.sh --skip-download

    - name: 'Run all tests (goal: test)'
      shell: bash
      env:
        MAKE_ARGS: test
        HEADLESS: 1
      run: |
        export JDK25HOME=$JAVA_HOME_25_X64
        bash make/build.sh --skip-download

  freebsd-x64:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Run tests in FreeBSD
        id: test
        uses: vmactions/freebsd-vm@v1
        with:
          prepare: |
            pkg install -y bash curl git gmake gnugrep openjdk21 zip
            mount -t fdescfs fdesc /dev/fd
            mount -t procfs proc /proc

          run: |
            pwd
            ls -lah
            whoami
            env
            freebsd-version
            sysctl hw.model
            sysctl hw.ncpu
            sysctl hw.physmem
            sysctl hw.usermem
            pw user add -n action -m
            su action -c 'git config --global --add safe.directory $(pwd)'
            su action -c 'bash make/build.sh --jdk /usr/local/openjdk21'
            su action -c 'bash build/make.sh test'
